:root {
  --font-scale: 1; /* 1 = 100%, 0.9 = 90% и т.д. */
}

.achRow {
    position: relative; /* установить позицию для контейнера */
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.ach {
    position: relative; /* установить позицию для контейнера */
    border-style: solid;
    border-radius: 3px;
    border-color: rgb(255, 101, 101);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 90.4px;
    max-height: 90.4px;
    width: 7vw;
    height: 7vw;
    margin-top: 10px;
    margin: 5px;
    border-width: 1.8px;
    z-index:900;
    display: flex;
    justify-content: center;
}

.achRow::after {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7; 
} 

.ach::after {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(107, 107, 107);
    opacity: 0.6; 
} 

.green::after {
    background-color: rgba(0, 255, 0, 0.5);

}

.greenborder {
    border-color: rgb(3, 192, 3);
}

#tooltip {
    /* ... */
    display: none;
  }
  
  #tooltip[data-show] {
    display: block;
  }

.achievementName {
    font-size: calc(10px * var(--font-scale));
    white-space: normal;
    color: white;
    text-shadow: 0.75px 0.75px #000000, -0.75px -0.75px #000000, 0.75px -0.75px #000000, -0.75px 0.75px #000000;
    text-align: center;
    z-index: 9999;
    pointer-events: none;
}

.tooltip {
    max-width: 200px;
    width: 1vw;
}