
.presss {
    text-align: center;
    color:rgb(255, 217, 0);
    text-shadow: 1px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
    font-size: 40px;
    margin: 5px;
    text-shadow: 0 0 5px rgb(255, 217, 0);
}
.coingain {
    color: #656565;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
    margin: 5px;
}
.buttontab {
    display: block;
    margin-left:338px;
}
.summ {
    text-align: center;
    color:rgb(255, 255, 255);
    text-shadow: 1px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
    font-size: 40px;
    margin: 5px;
}
.warning1 {
    text-align: center;
    color:red;
    text-shadow: 1px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
    font-size: 40px;
    margin: 5px;
}
.button {
    background-color: #ff000000;
    border: none;
    color: rgba(255, 0, 0, 0);
    margin: 0 auto; 
    display: block;
    transition: transform 0.1s ease-in-out;
    width: 300px;
    height: 300px;
    transition: background-image 0.2s ease-in-out;
    background-image: url("images/CoinOff.png");
    background-size: contain;
    background-Repeat: "no-repeat";
}
.button:active {
    transform: scale(0.88); 
}
.button:hover {
    background-image: url("images/CoinOn.png");
}
.butt_click{
    border-style: solid;
    border-radius: 30px;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 18px;
    width: 480px;
    height: 120px;
    text-align: center;
    font-family: "Poly";
    transition: transform 0.1s ease-in-out;
    transition: filter 0.2s ease-in-out;
    transition:  0.2s ease-in-out;
    margin-bottom: 20px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    margin-bottom: 10px;
}
.butt_click:active:enabled {
    transform: scale(0.9); 
}
.butt_click:disabled{
    background-color: rgb(46, 45, 45);
}
.butt_click:hover:disabled{
    background-color: rgb(255, 63, 63);
    color: black;
}
.dboost {
    border-color: #23e019;
 }
 .dboost:hover:enabled{
     background-color: #1bbc12;
     box-shadow: 0 0 10px #23e019;
     color: black;
 }
 .mboost {
     border-color: #1baf13;
 }
 .mboost:hover:enabled{
    background-color: rgb(24, 150, 18);
    box-shadow: 0 0 10px #1baf13;
    color: black;
}
 .fboost {
     border-color: #129e0b;
 }
 .fboost:hover:enabled{
        background-color: #0f7b09;
        box-shadow: 0 0 10px #129e0b;
        color: black;
    }
 
 .fuboost {
     border-color: #1f2fda;
 }
 .fuboost:hover:enabled{
    background-color: #1724b1;
    box-shadow: 0 0 10px #1f2fda;
    color: black;
}
 .fiboost {
     border-color: #1421a5;
 }
 .fiboost:hover:enabled{
    background-color: #111b8a;
    box-shadow: 0 0 10px #1421a5;
    color: black;
 }
 .siboost {
     border-color: #151e83;
 }
 .siboost:hover:enabled{
    background-color: #0c1575;
    box-shadow: 0 0 10px #151e83;
    color: black;
 }
.botbut{
    border-style: solid;
    border-radius: 5px;
    width: 200px;
    height: 100px;
    border-color:rgb(65, 68, 207);
    color: rgb(65, 68, 207);
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Poly"; 
    font-size: 15px;
    transition: transform 0.1s ease-in-out;
    transition: filter 0.2s ease-in-out;
    vertical-align: middle;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    margin-bottom: 10px;
    
}
.botbut:active {
    transform: scale(0.98); 
}
.botbut:hover{
    background-color: rgb(53, 55, 162);
    color: #000000;
}
.hardres {
    background-color: rgb(0, 0, 0);
    color:rgb(255, 0, 0);
    border-color:red;
}
.hardres:hover {
    background-color: rgb(255, 0, 0);
    color:rgb(0, 0, 0);
}
.infoback {
    border-style: solid;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    border-color:rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Poly"; 
    font-size: 15px;
    display: block;
    margin: 0 auto;
    position: relative;
    margin-bottom: 10px;
}


.aboutgame {
    text-align: center;
    font-size: 25px;
    color: white;
}
.goal {
    text-align: center;
    font-size: 60px;
    color: white;
}

.bg {
    border-style: solid;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    border-color:rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Poly"; 
    font-size: 15px;
    display: inline-block;
    margin-bottom: 10px;
}
.bg:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(210, 210, 210);
}
.gg {
    text-align: center;
    font-size: 60px;
    color: white;
}
.playmore1 {
    border-style: solid;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    border-color:rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Poly"; 
    font-size: 15px;
    display: block;
    margin: 0 auto;
    position: relative;
    margin-top: 10px;
}
.playmore1:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.noti {
    width: 50px;
    background-color: yellow;
    margin: 0;
}
ut {
    font-weight:900
}