
#endScreen {
    text-align: center;
    font-size: 60px;
    color: white;
    justify-content: center;
}

#playMore {
    border-style: solid;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    border-color:rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Poly"; 
    font-size: 15px;
    display: block;
    margin: 0 auto;
    position: relative;
    margin-top: 10px;
    cursor: pointer;
}
#playMore:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
