@font-face {
    font-family: "Poly"; 
    src: url("fonts/20322.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
h1 {
    font-family: "Poly"; 
}
p {
    font-family: "Poly"; 
}
h2 {
    font-family: "Poly"; 
}