.statsSlot {
    text-align: center;
    color: rgb(120 120 120);
    font-size: 16px;
    margin: 5px;
    justify-content: center;

}

#aboutGame {
    margin-top:20px;
    text-align: center;
    font-size: 20px;
    color: white;
}
#theGoal {
    text-align: center;
    font-size: 50px;
    color: white;
}

.headerr {
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 25px;
    margin: 35px;
    justify-content: center;
}

.prestigeText {
    font-size: 20px;
    color: white;
}

#latestPrestigesPage {
    display: none;
    align-items: center;
    text-align: center;
}