/*смена полоски прокрутки для хрома*/
html::-webkit-scrollbar, #versionDiv::-webkit-scrollbar, #helpDiv::-webkit-scrollbar {
  width:8px;
}
html::-webkit-scrollbar-track {
  background-color: #060606;
}
#versionDiv::-webkit-scrollbar-track, #helpDiv::-webkit-scrollbar-track {
  background-color: black;
}

html::-webkit-scrollbar-thumb, #versionDiv::-webkit-scrollbar-thumb, #helpDiv::-webkit-scrollbar-thumb{
  background-color: #252525;
  border-radius: 5px;
}
html, #versionDiv, #helpDiv {
  overflow-x:hidden;
}
/*смена полоски прокрутки для огнелиса*/
html{
  scrollbar-width: thin;
  scrollbar-color: #252525  #060606;
  overflow-y: hidden;
}

#versionDiv {
  scrollbar-width: thin;
  scrollbar-color: #252525  #000000;
}

#helpDiv {
  scrollbar-width: thin;
  scrollbar-color: #252525  #000000;
}

#mainSettings {
  position: absolute;
  margin-top: -78px;
  display: flex;
}

hr {
  color:white;
}

#maxOrNoUpgrades, #modernizeButton {
  background-color: #060606;
  border:#ffffff solid 1.6px;
  color: white;
  width: 50px;
  height: 50px;
  font-size: 12px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  font-family: poly;
}

#maxOrNoUpgrades:hover {
  background-color: #494949;
}

#modernizeButton {
  background-image: url('images/modernize.webp');
  background-repeat: no-repeat;
  background-position: center;
}

#coinsCount {
    color: white;
    margin: 5px;
    margin-top: 15px;
    white-space: nowrap;
    margin-bottom: 15px;
}

gt {
  color: #ffd900;
  text-shadow: 0 0 5px rgb(255, 217, 0);
  font-size: 30px;
}

#coinsGain {
    color: #656565;
    font-size: 15px;
    text-align: center;
    margin: 5px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    
}
#coinGain {
    background-color: #ff000000;
    border: none;
    color: rgba(255, 0, 0, 0);
    display: block;
    transition: transform 0.1s ease-in-out;
    width: 195px;
    height: 195px;
    transition: background-image 0.2s ease-in-out;
    background-image: url("images/CoinOff.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 200px;
}

#loadingScreen {
  background-image: url("images/loadingscreen012.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 101%;
  position: absolute;
  z-index: 99999;
  background-size: cover;
}

#coinGain:active, #shardsClick:active {
    transform: scale(0.95); 
}

#coinGain:hover {
    background-image: url("images/CoinOn.png");
}

.notification {
    background-color: rgb(55, 244, 55);
    color: black;
    margin-top: 30px;
    width: 300px;
    height: 50px;
    position: fixed;
    top: 0;
    right: -500px;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: rgb(2, 0, 0);
    opacity: 0;
    z-index: 9999;
    transition: right 2s, opacity 2s;
  }
  
  .notification.hide {
    right: 5px; /* смещаем уведомление вправо за экран для скрытия */
    transition: right 0.5s;
  }

  .notification.show {
    right: 0;
    opacity: 1;
    transition: right 1s, opacity 0.75s;
  }
  
  #topValues {
    height: 115px;
    justify-content: space-between;
    margin-bottom: 10px;
    display: flex;
  }

.topVars {
  width: 33%;
}

#coinGet {
  text-align: center;
  display:flex;
  flex-direction: column;
}

#getCoinLine {
  height: 195px;
  justify-content: space-around;
  margin-bottom: 10px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.myMessage, .shardCountPerClick, .superCoinText, .spiritText, .criticalClick {
  position: absolute; 
  display: flex; 
  padding: 5px;
  text-shadow: 1px 1px #ffd900, -1px -1px #ffd900, 1px -1px #ffd900, -1px 1px #ffd900;
  font-weight:900;
  color: rgb(0, 0, 0);
  cursor:default;
  transition: top 1s ease-in-out, opacity 1s ease-in-out, transform 1s ease-in-out;
  pointer-events: none; /* текст сообщения не мешает кликать по кнопке */
  user-select: none;
}

.shardCountPerClick {
  text-shadow: 1px 1px rgb(138, 255, 249), -1px -1px rgb(138, 255, 249), 1px -1px rgb(138, 255, 249), -1px 1px rgb(138, 255, 249);
}
.superCoinText {
  text-shadow: 1px 1px rgb(255, 174, 0), -1px -1px rgb(255, 174, 0), 1px -1px rgb(255, 174, 0), -1px 1px rgb(255, 174, 0);
  z-index: 100000;
}
.spiritText {
  text-shadow: 1px 1px rgb(202, 255, 237), -1px -1px rgb(202, 255, 237), 1px -1px rgb(202, 255, 237), -1px 1px rgb(202, 255, 237);
}
.criticalClick {
  text-shadow: 1px 1px rgb(255, 0, 0), -1px -1px rgb(255, 0, 0), 1px -1px rgb(255, 0, 0), -1px 1px rgb(255, 0, 0);
  z-index: 99999;
}

.myMessage.hide, .shardCountPerClick.hide, .superCoinText.hide, .spiritText.hide, .criticalClick.hide {
  opacity: 0;
  transform: translateY(-50px);
}

.myMessage.show, .shardCountPerClick.show, .superCoinText.show, .spiritText.show, .criticalClick.show {
  right: 0;
  opacity: 1;
  transition: top 1s ease-in-out, opacity 1s ease-in-out;
  display: block;
}

.confirmationWindow {
  display: none;
  width: 400px;
  height: 250px;
}
#windowTitleDiv {
  width: 100%;
  margin-top: 50px;
}
.confClose{
  left: 90.5%;
  bottom: 85%;
}

#resetTitle {
  font-size: 22px;
}

#confirmationButtons {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50%;
}

#multipliersTab{
    justify-content: center;
    flex-wrap: wrap;
}

#multiplierChoose {
    width: 100px;
    height: 400px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px 0px 0px 5px;
    overflow: hidden;
}

.multiplierChooser {
  width: 100%;
  font-size: 11px;
  height: 36px;
}

#multiplierStats {
    width: 500px;
    height: 400px;
    border: white 1px solid;
    border-radius: 0px 0px 0px 0px;
}

#multBreakdownTitle {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  color: white;
}

.whiteText {
  color: white;
  font-size: 15px;
  text-align: center;
}

#infoTab .whiteText {
  font-size: 14px;
}

.multiplierString {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.gainGraphic{
  border: white 1px solid;
  width: 50px;
  border-width: 1px 1px 1px 0px;
  border-radius: 0px 5px 5px 0px;
  overflow: hidden;
}

.graphicPiece {
  border: white 1px solid;
  border-width: 0px 0px 1px 0px;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.pieceText {
  font-size: 16px;
}

.progress-bar-base{
  width:100%;
  height:13px;
  background-color: gray;
  overflow: hidden;
}
.progress-bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-size: 12px;
  background-image: radial-gradient(#15fa01, #040000 170%);
}
#progress-bar-text {
  font-size: 10px;
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
}
#shopDiv {
  display: flex;
  justify-content: center;
  flex-direction: row;
    align-items: center;
    width:800px;
}

#shopDiv .tooltip {
  font-size: 12px;
  padding: 10px;
}
#shopTitleDiv {
  display: flex;
  justify-content: center;
  border: white 1px solid;
  width: 800px;
  border-radius: 5px 5px 0px 0px;
  height: 30px;
  align-items: center;
}

#shopTitle {
  margin: 0;
}

#shoppingDiv {
  width: 100%;
  border: white 1px solid;
  border-radius: 0px 0px 0px 5px;
  border-top: 0px;
}
#bottomDiv {
  display: flex;
  justify-content: center;
}

.shopRow {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 780px;
}

.shopBottomButton {
  font-family: 'Poly';
  border: white 1px solid;
  border-width: 0px 1px 1px 1px;
  border-radius: 0px 0px 5px 5px;
  background-color: black;
  color: white;
  height: 2em;
  width: 100px;
  cursor: pointer;
}

.shopBottomButton:hover {
  background-color: rgb(62, 62, 62)
}

.shopButton, .mineralButton {
  background-color: #060606;
  color: rgb(255, 174, 0);
  border: rgb(235, 160, 0) 1px solid;
  border-radius: 3px;
  width: 48px;
  height: 48px;
  box-shadow: 0 0 1px rgb(255, 174, 0);
  cursor: pointer;
  font-size: 11px;
  margin: 5px;
}

.shopItemButton {
  margin-bottom: 0;
  border-radius: 3px 3px 0 0
}

.useButton {
  margin: 5px;
  font-size: 11px;
  border: rgb(235, 160, 0) 1px solid;
  background-color: #060606;
  height: 25px;
  width: 48px;
  margin-top: 0;
  border-radius: 0;
  color: white
}

.shopContainer {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  color: white;
  text-align: center;
  align-items: center;
  margin: 7px;
  width: 60px;
}

.shopButton:disabled {
  background-color: #060606;
  color:#ffffff;
  border-color: #fbfbfb;
  box-shadow: 0 0 0;
  cursor:not-allowed;
}

.shopArrow {
  display: flex;
  background-color: #060606;
  align-items: center;
  border: white 1px solid;
  height:289px;
  width: 20px;
  justify-content: center;
  border-radius: 0px 0px 5px 0px;
  border-left: 0px;
  border-top: 0px;
}
.shopArrow:hover {
  background-color: #494949;
}
.shopArrowDiv {
  display: flex;
  align-items: center;
  height: 100%;
}
#leftShopArrow {
  border: white 1px solid;
  border-radius: 0px 0px 0px 5px;
  border-top: 0px;
  border-right: 0px
}
#shopDiv2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    margin-bottom: 0;
}
#superCount {
  text-align: center;
  color: white;
  margin: 5px;
  margin-top: 15px;
  width:100%;
  font-size: 15px;
}

#wholeShopDiv {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bulkShopBuy {
  width: 200px;
  height: 250px;
  border: 1px white solid;
  margin: 25px;
  color: white;
  text-align: center;
  border-radius: 5px 5px 0 0;
}

#bulkShopBuy input {
  width: 192.8px
}

#bulkShopBuy span {
  font-size: 15px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bulkShopBuyButton {
  border: rgb(255, 174, 0) 1px solid;
  background-color: #000000;
  width: 100%;
  height: 30px;
  color: white;
  font-size: 12px;
}

.bulkShopBuyButton:hover, .useButton:hover {
  background-color:rgb(255, 174, 0);
  color: black
}

st {
  font-size: 30px;
  color:rgb(255, 174, 0);
  text-shadow: 0 0 5px rgb(255, 174, 0);
}
#overdriveTab {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.overdriveType {
  width: 800px;
  height: 120px;
  border: white 1px solid;
  margin: 20px;
}
.overdriveTypeTitle {
  display: flex;
  justify-content: center;
  border-bottom: white 1px solid;
  height:15%;
}
.overdriveTypeName {
  margin: 0 auto;
}
.overdriveTypeDiv{
  height:85%;
}
.overdriveTypeProgressBarBase{
  background-color: #111111;
    height: 99%;
    display: flex;
    align-items: center;
    text-align: center;
    cursor:pointer;
    
}
#overdriveType1ProgressBar{
  height: 100%;
  background-image:radial-gradient( gold, black 210%);
}
#overdriveType2ProgressBar{
  height: 100%;
  background-image:radial-gradient( rgb(0, 242, 255), black 210%);
}
.overdriveTypeGhost {
  position: absolute;
  color: white;
  pointer-events: none;
  cursor: default;
  display: flex;
  width: 800px;
  justify-content: center;
  z-index: 1000
}

.overdriveTypeProgressBarActive {
  position: absolute;
  background-color: #FFFFFF77;
  pointer-events: none;
  cursor: default;
  display: flex;
  width: 800px;
  justify-content: center;
  z-index: 2000;
  height: 101px;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

#crystalCount {
  text-align: center;
  color: white;
  margin: 0 auto;
  font-size: 13px;
}

ct {
  color:aqua;
  font-size: 20px;
  text-shadow: 0 0 5px aqua;
}

#doPrestige {
  border-style: solid;
  border-radius: 5px;
  background-color: black;
  color: aqua;
  font-size: 12px;
  width: 50%;
  height: 70px;
  text-align: center;
  transition:  0.2s ease-in-out;
  cursor: pointer;
  border-color:aqua;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#doPrestige:hover {
  background-color: aqua;
  color:black;
}

#prestigeGet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    justify-content: space-around;

}

.prestigeButton {
  color: aqua;
  border-color: aqua;
}

.prestigeButton:hover {
  background-color: rgba(0, 255, 255, 0.144);
}

#prestigeSingleUpgrades {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
#prestigeBuyableUpgrades {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pSURow {
  display: flex;
  flex-direction: column;
}

#threeRowMilestones{
  display: flex;
}

.milestone {
  border: 3px #212121 solid;
  background-color: rgb(151, 151, 151);
  color: black;
  width: 300px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  flex-direction: column;
  text-align: center;
}

#milestonesTab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#horizontalMilestones {
  display: flex;
}

.horizontalMilestone {
  width: 452.5px;
}

.prestigeMilestone {
  border-color: rgb(56, 55, 55);
  background-color: rgb(74, 74, 74);
}

.prestigeMilestone.completed {
  border-color: rgb(0, 120, 120);
  background-color: rgb(0, 188, 188);
}

.centeredDiv {
  display:flex;
  justify-content: center;
}

#shardsTab {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#shardsClick {
  background-color: #ff000000;
  width: 180px;
  height: 180px;
  border: none;
  cursor: pointer;
  transition: background-image 0.2s ease-in-out;
  background-image: url('images/shardoff2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

#shardsClick:hover {
  background-image: url('images/shard.png');
}

#shardsCountText {
  color: white
}

shn {
  color: rgb(138, 255, 249);
  font-size: 30px;
  text-shadow: 0 0 5px rgb(138, 255, 249);
}

#breakCrystal {
  flex-direction: column;
  align-items: center;
}

#howMuchCrystalsInput {
  width: 50%;
  margin: 10px 0px;
}

#submitBreak {
  font-family: Poly;
  width: 25%;
  height: 25px;
}

#doBreakCrystal {
  border: rgb(106, 253, 246) solid 2px;
  width: 300px;
  height: 50px;
  font-size: 16px;
  margin: 10px 0px;
}

#doBreakCrystal:hover {
  background-color: rgb(106, 253, 246);
  color: black;
}

.shardSinglesRow {
  display: flex;
  justify-content: center
}

.shardUnlockableBase {
  border: rgb(106, 253, 246) 1px solid;
  border-radius: 3px; 
  background-color: #111111;
  width: 600px;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor:pointer;
  margin: 5px;
}

.shardUnlockable {
  height: 100%;
  background-image: url('/javascript/cssfiles/images/shardspb.png');
  background-size: auto 100%;
}

.shardUnlockableText {
  position: absolute;
  color: white;
  pointer-events: none;
  cursor: default;
  display: flex;
  justify-content: center;
  width: 600px;
  text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

#shardUnlockableBase3, #shardUnlockableBase4 {
  height: 100px;
}

spn {
  color: rgb(202, 255, 237);
  font-size: 30px;
  text-shadow: 0 0 5px rgb(202, 255, 237);
}

pn {
  color: rgb(255, 108, 211);
  font-size: 30px;
  text-shadow: 0 0 5px rgb(255, 108, 211);
}

gn {
  color: rgb(111, 255, 108);
  font-size: 30px;
  text-shadow: 0 0 5px rgb(111, 255, 108);
}

bn {
  color: rgb(108, 189, 255);
  font-size: 30px;
  text-shadow: 0 0 5px rgb(108, 189, 255);
}

rn {
  color: rgb(45, 202, 210);
  font-size: 30px;
  text-shadow: 0 0 5px rgb(45, 202, 210);
}

#shopBuyableU1 {
  background-image: url('images/goldengloves.png')
}
#shopBuyableU2 {
  background-image: url('images/goldenwatch.png')
}
#shopBuyableU3 {
  background-image: url('images/goldenkey.png')
}
#shopBuyableU4 {
  background-image: url('images/clover.png')
}
#shopBuyableU5 {
  background-image: url('images/shardrain.png')
}
#shopBuyableU6 {
  background-image: url('images/diamondpersV3.webp')
}
#shopBuyableU7 {
  background-image: url('images/creditcard.png')
}
#shopBuyableU8 {
  background-image: url('images/cursorwhitepercent.bmp')
}
#shopBuyableU9 {
  background-image: url('images/cursorredX.bmp')
}
#shopSingleU1 {
  background-image: url('images/brokenspeedometer.webp');
  background-position: -0.5px -0.5px;
}
#shopSingleU2 {
  background-image: url('images/crystalactualspeedometer.webp');
  background-position: -0.5px -0.5px;
}
#shopSingleU3 {
  background-image: url('images/modernize.webp');
  background-position: -0.5px -0.5px;
}
#shopItem1 {
  background-image: url('images/Uxtotallydonenow.bmp');
  background-position: -1.5px;
}
#shopItem2 {
  background-image: url('images/U1totallydonenow.bmp');
  background-position: -1.5px;
}
#shopItem3 {
  background-image: url('images/TW1m.bmp');
}
#shopItem4 {
  background-image: url('images/Tw10m.bmp');
}
#mineral1 {
  background-image: url('images/opalfinished.webp');
}
#mineral2 {
  background-image: url('images/topazfinished.webp');
}
#mineral3 {
  background-image: url('images/jadeshiny.webp');
  background-position: -1px -1px;
}

.challengePair {
  display: flex;
  flex-direction: row;
}

#superCrystalsTab, #superCrystalUpgrades{
  margin-top: 30px;
  justify-content: space-evenly;
  text-align: center;
}

#superCrystalCount {
  font-size: 18px;
}

#superCrystalBarBase {
  width: 250px;
  height: 300px;
}

#superCrystalGen {
  height: 350px;
}

scn {
  color: rgb(0, 180, 212);
  font-size: 30px;
  text-shadow: 0 0 5px rgb(0, 180, 212);
}

#superCrystalBarBase{
  background-image:url('images/supercrystaloff.png');
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  text-align: center;
  cursor:pointer;
  height: 300px
}
#superCrystalBar{
  background-image:url('images/supercrystalon.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  clip-path: inset(100% 0 0 0); 
}
#superCrystalBarGhost {
  position: absolute;
  color: white;
  pointer-events: none;
  cursor: default;
  display: flex;
  width: 250px;
  justify-content: center;
  z-index: 10000;
  height: 300px;
  margin-top: 140px;
}
.superCrystalUpgradesRow {
  display: flex;
}

#mineralsTab, #mineralsCountDiv, .mineralContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#mineralsDiv {
  display: flex;
  flex-direction: row;
}

.mineralContainer {
  width: 300px;
  height: 200px;
}

.mineralButton {
  border-color: rgb(45, 202, 210)
}

#generateRunes {
  margin: 0;
  border-color: rgb(45, 202, 210);
  width: 175px;
  height: 60px;
  margin-bottom: 50px;
}

#generateRunes:hover{
  background-color: rgb(45, 202, 210);
  box-shadow: 0 0 10px rgb(45, 202, 210);
  color: black;
}

super {
  color: rgb(255, 174, 0);
  text-shadow: 0 0 5px rgb(255, 174, 0);
  pointer-events: none;
  user-select: none;
}
table {
  border-spacing: 0; 
}
th {
  color: white;
  border:white 1px solid;
  width: 150px;
  font-weight: normal;
  font-size: 13px;
  padding: 2px;
  height: 17.5px;
}

#welcomeToDigitalGod {
  font-size: 17px;
}

#recentPrestigesTab {
  flex-direction: column;
    align-items: center;
}

#saveButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}



@media screen and (max-width: 600px) {

  
  span, gt, pbn, st, ct, p, input, label, select, footer {
    font-size: 50% !important;
  }
  gt, pbn, st, ct {
    font-size: 100% !important;
  }
  st, shn {
    font-size: 20px !important;
  }
  #percent {
    font-size: 75% !important;
  }

  button {
    font-size: 30% !important;
  }

  #doPrestige {
    width: 100px;
    height: 30px;
  }

  #crystalCount {
    font-size: 75%
  }

  #html {
    width: 100%
  }

  .tabButton {
    width: 50px;
    height: 25px;
    margin-right: 2px;
  }

  #topValues {
    height: 75px
  }

  .settingButton {
    width: 40%;
    height: 30px
  }

  .titleTab {
    font-size: 100% !important;
  }
  #overdriveType1, #overdriveType2 {
    height: 60px;
    width: 300px;
  }
  #overdriveType1Ghost, #overdriveType2Ghost {
    width: 300px
  }

  #overdriveType1ProgressBarActive, #overdriveType2ProgressBarActive{
    height: 54px
  }
  
  #maxOrNoUpgrades, #modernizeButton {
    width: 30px;
    height: 30px;
    font-size: 9px;
    background-size: cover;
    margin: 2px;
    border-radius: 5px;
}
  #mainSettings {
    width: 80px;
    margin-top: -50px
  }
  .shopButton {
    font-size: 9px;
  }
  #shopTitleDiv {
    width: 89.35%;
  }
  #shopDiv {
    width: 90%
  }
  .ach {
    width: 35px;
    height: 35px;
    font-size: 70%
  }
  .tooltip {
    width: 90px
  }
  .upgradeButton, .milestone {
    width: 90px !important;
    font-size: 7px !important;
  }
  .milestone {
    width: 140px !important;
    font-size: 50%
  }
  .automationContainer {
    width: 120px;
  }
  #superCount {
    font-size: 50% !important;
  }
  #coinsCount {
    margin-bottom: 5px;
  }
  #multiplierStats {
    width: 200px;
  }
  .arrow,
  .arrow::before {
    width: 6px;
    height: 6px;
}
  .progress-bar-base {
    width: 110%
  }
  body {
    overflow-x: hidden;
  }
  .windowDesc{
    max-height: 390px;
  }
  .versionButtonVertical{
    height: 20px !important;
  }
  .multiplierChooser {
    height: 35px !important;
  }
  #wholeShopDiv {
    transform: scale(0.6);
    flex-direction: column;
    margin-top: -150px;
  }
  #wholeShopDiv button, #wholeShopDiv span {
    font-size: 100% !important;
  }
  #wholeShopDiv input[type='text'] {
    height: 25px;
    font-size: 25px !important;
  }
  #wholeShopDiv .tooltip {
    width: 200px;
  }
  .challengeTitle {
    font-size: 14px !important;
  }
  .challengeDesc{
    font-size: 8px !important;
  }
  .challengeStart{
    font-size: 8px !important;
  }
  .challengeRow {
    flex-direction: column;
  }
  #superCrystalsTab {
    flex-direction: column;
    align-items: center;
  }
  .mineralContainer {
    width: 150px
  }
  #harshUmulti {
    width: 90px !important
  }
  #exitChallenge {
    width: 50px
  }
}
