body {
  overflow: hidden;
}

#coinsCount {
    text-align: center;
    align-items: center;
    color:#ffd900;
    font-size: 30px;
    margin: 5px;
    margin-top: 15px;
    text-shadow: 0 0 5px rgb(255, 217, 0);
    width:25%;

}

#coinsGain {
    color: #656565;
    font-size: 15px;
    text-align: center;
    margin: 5px;
    
}

#coinGain {
    background-color: #ff000000;
    border: none;
    color: rgba(255, 0, 0, 0);
    margin: 0 auto; 
    display: block;
    transition: transform 0.1s ease-in-out;
    width: 195px;
    height: 195px;
    transition: background-image 0.2s ease-in-out;
    background-image: url("images/CoinOff.png");
    background-size: contain;
    background-Repeat: "no-repeat";
    cursor: pointer;
}

#coinGain:active {
    transform: scale(0.95); 
}

#coinGain:hover {
    background-image: url("images/CoinOn.png");
}

.notification {
    background-color: rgb(55, 244, 55);
    color: black;
    margin-top: 30px;
    width: 150px;
    height: 50px;
    position: fixed;
    top: 0;
    right: -240px;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: rgb(2, 0, 0);
    opacity: 0;
    z-index: 9999;
    transition: right 1s ease-in-out, opacity 1s ease-in-out;
  }
  
  .notification.hide {
    right: -200%; /* смещаем уведомление вправо за экран для скрытия */
    transition: right 1s ease-in-out;
  }

  .notification.show {
    right: 0;
    opacity: 1;
    transition: right 1s ease-in-out, opacity 1s ease-in-out;
  }
  
  #topValues {
    height: 115px;
    justify-content: space-between;
    margin-bottom: 10px;
    display: flex;
  }

  .crystalCounter {
    text-align: center;
    color:aqua;
    font-size: 25px;
    margin: 5px;
    margin-top: 15px;
    text-shadow: 0 0 5px aqua;
    align-items: center;
    justify-content:center;
}

.crystalCounter span {
    margin: auto;
}
.topVars {
  padding-bottom: 200px;
}

#coinGet {
  text-align: center;
}

#getCoinLine {
  height: 195px;
  justify-content: space-between;
  margin-bottom: 10px;
  display: flex;
  width: 1000px;
  margin: 0 auto;
  align-items: center;
}

.myMessage {
  position: absolute; 
  display: flex; 
  padding: 5px;
  text-shadow: 1px 1px #ffd900, -1px -1px #ffd900, 1px -1px #ffd900, -1px 1px #ffd900;
  font-weight:900;
  color: rgb(0, 0, 0);
  cursor:default;
  transition: top 1s ease-in-out, opacity 1s ease-in-out, transform 1s ease-in-out;
  pointer-events: none; /* текст сообщения не мешает кликать по кнопке */
  user-select: none;
}

.myMessage.hide {
  opacity: 0;
  transform: translateY(-50px);
}

.myMessage.show {
  right: 0;
  opacity: 1;
  transition: top 1s ease-in-out, opacity 1s ease-in-out;
  display: block;
}