
#settingButtons {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.settingButton{
    border-style: solid;
    border-radius: 5px;
    width: 180px;
    height: 80px;
    border-color:rgb(65, 68, 207);
    color: rgb(65, 68, 207);
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Poly"; 
    font-size: 13px;
    transition: transform 0.1s ease-in-out;
    transition: filter 0.2s ease-in-out;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 5px;
}
.settingButton:active {
    transform: scale(0.98); 
}
.settingButton:hover{
    background-color: rgb(53, 55, 162);
    color: #000000;
}
#hardRes {
    background-color: rgb(0, 0, 0);
    color:rgb(255, 0, 0);
    border-color:red;
}
#hardRes:hover {
    background-color: rgb(255, 0, 0);
    color:rgb(0, 0, 0);
}
#firstSettingsRow {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#secondSettingsRow {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#thirdSettingsRow {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#autoSaveInterval {
    border-style: solid;
    border-radius: 5px;
    width: 177px;
    height: 77px;
    border-width: 2px;
    border-color:rgb(65, 68, 207);
    color: rgb(65, 68, 207);
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: 13px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}
#autoSlider {
    width: 140px;
}