#commonUpgrades {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#singleUpgrades {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.upgradeButton{
    border-style: solid;
    border-radius: 30px;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 18px;
    width: 480px;
    height: 120px;
    text-align: center;
    font-family: "Poly";
    transition: transform 0.1s ease-in-out;
    transition: filter 0.2s ease-in-out;
    transition:  0.2s ease-in-out;
    margin-bottom: 20px;
    vertical-align: middle;
    display: inline-block;
    margin-right:10px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}
.upgradeButton:active:enabled {
    transform: scale(0.9); 
}
.upgradeButton:disabled{
    background-color: rgb(46, 45, 45);
}
.upgradeButton:disabled:hover{
    background-color: rgb(255, 63, 63);
    color: black;
}
#commonU1 {
    border-color: #23e019;
 }
 
 #commonU1:hover:enabled{
     background-color: #1bbc12;
     box-shadow: 0 0 10px #23e019;
     color: black;
 }
 #commonU2 {
     border-color: #1baf13;
 }
 #commonU2:hover:enabled{
    background-color: rgb(24, 150, 18);
    box-shadow: 0 0 10px #1baf13;
    color: black;
}
#commonU3 {
     border-color: #129e0b;
 }
#commonU3:hover:enabled{
        background-color: #0f7b09;
        box-shadow: 0 0 10px #129e0b;
        color: black;
    }
 
 #singleU1{
     border-color: #1f2fda;
 }
 #singleU1:hover:enabled{
    background-color: #1724b1;
    box-shadow: 0 0 10px #1f2fda;
    color: black;
}
#singleU2 {
     border-color: #1421a5;
 }
 #singleU2:hover:enabled{
    background-color: #111b8a;
    box-shadow: 0 0 10px #1421a5;
    color: black;
 }
 #singleU3 {
     border-color: #151e83;
 }
 #singleU3:hover:enabled{
    background-color: #0c1575;
    box-shadow: 0 0 10px #151e83;
    color: black;
 }