#buyableUpgrades {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#singleUpgrades {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#singleUpgrades2 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#maxBuyLine {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.upgradeButton{
    border-style: solid;
    border-radius: 10px;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 9.75px;
    width: 175px;
    height: 90px;
    text-align: center;
    font-family: "Poly";
    transition:  0.2s ease-in-out;
    margin-right:10px;
    margin-bottom: 10px;
    cursor: pointer;
}



@media screen and (max-width: 600px) {
  .upgradeButton {
      font-size: 8.5px
  }
}

.maxBuy{
  height: 35px;
  width: 70px;
  text-align: center;
  border-color: white;
  border-style: solid;
  margin-right: 0px;
}
.maxBuy:hover{
  background-color:  rgb(34, 34, 34);
}
.upgradeButton:active:enabled {
    transform: scale(0.95); 
}
.upgradeButton:disabled{
    background-color: rgb(65, 65, 65);
}
.upgradeButton:disabled:hover{
    background-color: rgb(255, 63, 63);
    color: black;
}
.buyableButton{
    background-color: #000000;
    border-color: #23e019;
    color: rgb(255, 255, 255);
}
.buyableButton:hover:enabled{
     background-color: #23e019;
     box-shadow: 0 0 10px #23e019;
     color: black;
 }
 .singleButton{
    background-color: #000000;
    border-color: #2536ff;
    color: rgb(255, 255, 255);
}
.singleButton:hover:enabled{
    background-color: #2536ff;
    box-shadow: 0 0 10px #2536ff;
    color: black;
}
.singleButton.purchased {
    background-color: #2536ff;
    color: black;
}

.prestigeSingleButton{
  background-color: #000000;
  border-color: rgb(0, 212, 212);
  color: rgb(255, 255, 255);
}
.prestigeSingleButton:hover:enabled {
  background-color: rgb(0, 212, 212);
  box-shadow: 0 0 10px rgb(0, 212, 212);
  color: black;
}
.prestigeSingleButton.purchased {
  background-color: rgb(0, 212, 212);
  color: black;
}
.prestigeBuyableButton{
  background-color: #000000;
  border-color: rgb(0, 151, 151);
  color: rgb(255, 255, 255);
}
.prestigeBuyableButton:hover:enabled {
  background-color: rgb(0, 151, 151);
  box-shadow: 0 0 10px rgb(0, 151, 151);
  color: black;
}


#umultiplierBoost {
  border-color:cadetblue;
}

#umultiplierBoost:disabled{
  border-color: rgb(90,90,90);
}

#umultiplierBoost:hover:enabled{
  background-color: cadetblue;
  box-shadow: 0 0 10px cadetblue;
  color: black;
}

#uMultiDiv {
  display: flex;
  flex-direction: column;
}

#harshUmulti {
  white-space: break-spaces;
  position: absolute;
  align-items: center;
  margin-top: 95px;
  width: 175px;
  height: 40px;
}

#upowerBoost {
  border-color:palevioletred;
}

#upowerBoost:disabled{
  border-color: rgb(90,90,90);
}

#upowerBoost:hover:enabled{
  background-color: palevioletred;
  box-shadow: 0 0 10px palevioletred;
  color: black;
}

.shardBuyableButton {
  border-color: rgb(138, 255, 249);
}

.shardBuyableButton:hover:enabled {
  background-color: rgb(138, 255, 249);
  box-shadow: 0 0 10px rgb(138, 255, 249);
  color: black;
}

.shardSingleButton {
  border-color: rgb(111, 202, 199);
}

.shardSingleButton:hover:enabled {
  background-color: rgb(111, 202, 199);
  box-shadow: 0 0 10px rgb(111, 202, 199);
  color: black;
}

.shardSingleButton.purchased {
  background-color: rgb(111, 202, 199);
  color: black;
}

.pinkButton {
  background-color: rgb(191, 34, 99);
  color: white;
  border-color: rgb(163, 27, 81);
  width: 150px;
  height: 75px;
}

.pinkButton:hover {
  box-shadow: 0 0 10px rgb(191, 34, 99);
}

.greenButton {
  background-color: rgb(32, 178, 29);
  color: white;
  border-color: rgb(38, 192, 35);
  width: 150px;
  height: 75px;
}

.greenButton:hover {
  box-shadow: 0 0 10px rgb(32, 178, 29);
}

.blueButton {
  background-color: rgb(34, 116, 183);
  color: white;
  border-color: rgb(30, 122, 197);
  width: 150px;
  height: 75px;
}

.blueButton:hover {
  box-shadow: 0 0 10px rgb(34, 116, 183);
}

.greyButton {
  background-color: rgb(82, 82, 82);
  color: white;
  border-color: rgb(75, 75, 75);
  width: 380px;
  height: 50px;
}

.greyButton:hover {
  box-shadow: 0 0 10px rgb(82, 82, 82);
}